.introduce-company-section {
  min-height: 450px;
  .introduce-company-section-title {
  }
  .introduce-company-section-content {
  }
  .introduce-company-section-btn {
    width: 200px;
    padding: 15px 0;
  }
}
