$min-section-height: 400px;
.introduce-section {
  min-height: $min-section-height;
  .introduce-section-title {
    font-size: 1.5rem;
  }
  .introduce-section-content {
    font-size: 0.8rem;
    line-height: 2rem;
  }
  .introduce-section-img-filter {
    filter: grayscale(50%);
  }
  .intro-img {
    min-height: 340px;
  }
  .intro-img-designer {
    min-height: 340px;
  }
  @include media-breakpoint-up(md) {
    .intro-img {
      margin-top: -30px;
      margin-bottom: -30px;
    }
    .intro-img-designer {
      margin-top: -30px;
      margin-bottom: -30px;
    }
  }
}
