$navBar-padding-revise: 1.25rem;
.home-navBar {
  z-index: 51;
  .nav-link::after {
    display: none;
  }
  .dropdown-menu {
    left: -94px;
    width: 260px;
    border-color: #e9eaec;
    &:before {
      position: absolute;
      content: "";
      top: -20px;
      left: 50%;
      transform: translateX(-50%);
      width: 10px;
      height: 10px;
      border-width: 10px;
      border-style: solid;
      border-color: transparent transparent #e9eaec transparent;
      z-index: 1001;
    }
    &:after {
      position: absolute;
      content: "";
      top: -18px;
      left: 50%;
      transform: translateX(-50%);
      width: 10px;
      height: 10px;
      border-width: 10px;
      border-style: solid;
      border-color: transparent transparent #ffffff transparent;
      z-index: 1001;
    }
  }
}
//navbar與sidebar有重疊得部分，故設定z-index
.navBar-padding-revise {
  padding-top: $navBar-padding-revise;
  padding-bottom: $navBar-padding-revise;
}
.navBar-cart-icon {
  position: relative;
  // font-size: 1rem;
  .navBar-cart-totalItems {
    position: absolute;
    top: 10%;
    // right: 0;
    // font-size: 0.3rem;
    // width: 20px;
    // height: 10px;
  }
}
.navBar-cart-icon-collapse {
  display: block;
  position: relative;
  .navBar-cart-totalItems {
    position: absolute;
    top: 10%;
  }
}
@include media-breakpoint-up(md) {
  .navBar-cart-icon-collapse {
    display: none;
  }
}
