// .wrapper {
//   padding-left: 4.5rem;
//   padding-top: 99.38px; // NavBar的高度
// }
.logo-icon {
  width: 40px;
}
.font-times {
  font-family: Times !important;
}
.font-Hel {
  font-family: Helvetica Neue !important;
}
.Ubuntu {
  font-family: "Ubuntu", sans-serif;
}
.Volkhov {
  font-family: "Volkhov", serif;
}
.bg-cover {
  background-size: cover;
  background-position: center center;
}
.pgHightRevise {
  min-height: calc(100vh - 83.38px - 205.6px);
}
.expandToside {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.vertical-write {
  writing-mode: vertical-lr;
}
.form-control,
.form-control-lg {
  // background-color: theme-color("green-l");
  background-clip: border-box;
}
.negative-row-margin {
  margin-left: -15px;
  margin-right: -15px;
}

.img-scales {
  transition-duration: 0.5s;
  &:hover {
    transform: scale(1.1);
  }
}
.isValid {
  border-color: #28a745;
}
.isInValid {
  border-color: #dc3545;
}
@keyframes fadeOut {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
.fadeOut {
  animation: fadeOut 1s;
  animation-iteration-count: 1;
}
