.logo-icon {
  width: 40px;
}
.font-times {
  font-family: Times !important;
}
.font-Hel {
  font-family: Helvetica Neue !important;
}
.bg-cover {
  background-size: cover;
  background-position: center center;
}
.pgHightRevise {
  min-height: calc(100vh - 83.38px - 205.6px);
}
.expandToside {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.vertical-write {
  writing-mode: vertical-lr;
}
.form-control,
.form-control-lg {
  // background-color: theme-color("green-l");
  background-clip: border-box;
}
.negative-row-margin {
  margin-left: -15px;
  margin-right: -15px;
}

.img-scales {
  transition-duration: 0.5s;
  &:hover {
    transform: scale(1.1);
  }
}
.isValid {
  border-color: #28a745;
}
.isInValid {
  border-color: #dc3545;
}
